asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
django==4.2.11
et-xmlfile==1.1.0
gunicorn==21.2.0
idna==3.4
lxml==4.9.3
numpy==1.25.2
openpyxl==3.1.2
# openssl==3.0.13
packaging==23.1
pyasn1==0.5.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
# sqlite-database==3.41.2
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
XlsxWriter==3.1.2
djangorestframework-datatables==0.7.0
zeep==4.2.1
jinja2==3.1.2